$primary: #edc7b7;
$secondary:#dedcff;
$info: #ac3b61;
$dark:#123c69;
$light:#eee2dc;
$success: green;
$warning: red;

$font-family-base: 'IBM Plex Sans', sans-serif;

@import 'bootstrap/scss/bootstrap';