:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #123c69;
--background: #eee2dc;
--primary: #edc7b7;
--secondary: #dedcff;
--accent: #ac3b61;
}

body{
  background-color: var(--background);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

